ng:host {
  padding: 0;
  margin: 0;
}

.b-body-container {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-content: center;
}

.b-body-container .body-component{
  display: flex;
  justify-content: center;
  align-items: center;
}

.b-body-container .body-component:nth-child(1) {
  color: #dddddd;
  background: rgb(79, 79, 79);
  background: radial-gradient(circle, rgba(79, 79, 79, 1) 0%, rgba(0, 0, 0, 1) 100%);
}
