
.b-container{
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 45px auto 15%;
  justify-content: center;
  justify-items: center;
}

.b-header{
  width: 100%;
  background-color: #000000;
  color: #cccccc;
  margin: 0;
  padding: 0;
}
